.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    height: 100vh;
    background-color: #b4b9da;
  }



  


  .contenedor-datos {
    text-align: center;
  }
  
  .bienvenido {
    padding-bottom: 2%;
    color: #333; /* Color de texto deseado */
  }
  


  /*Formulario*/

  form {
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
  }

  .input-lectura{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    
    background-color: lightgray;
    color: #5c5c5c;
    border-radius: 8px;
  }
  
  .globo {
    /* Estilos para tus inputs */
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    resize: vertical; /*el de descripcion*/
  }
  
  .globo-boton {
    /* Estilos para tu botón */
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #434B77;    /* Color de fondo deseado */
    color: #fff; /* Color de texto deseado */
    border: none;
    cursor: pointer;
  }
  
  .contador-caracteres {
    margin-left: 260px;
    font-size: 12px; /* Ajusta el tamaño del texto según tus preferencias */
    color: #888; /* Ajusta el color del texto según tus preferencias */
  }